.sp-none {
  @include mq() {
    display: none;
  }
}

.pc-none {
  display: none;
  @include mq() {
    display: block;
  }
}

.is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}