/**
 * color palette.
 */

 // primary
 $palette-primary-white:  #fff;
 $palette-primary-black:  #000;
 
 $palette-primary-red:    #f55361;
 $palette-primary-blue:   #029df4;
 $palette-primary-green:  #65c15e;
 $palette-primary-yellow: #b9ca14;
 $palette-primary-orange: #ffa531;
 $palette-primary-purple: #826bd3;

 // gray
 $palette-gray-darker:   #121618;
 $palette-gray-dark:     #2d383c;
 $palette-gray:          #333333; // 本文に使用
 $palette-gray-light:    #657a84;
 $palette-gray-lighter:  #98a9b0;
 $palette-gray-subtle:   #d0d6da;
 $palette-gray-subtler:  #e4e9ea;
 $palette-gray-subtlest: #f2f3f5;
 
 // sns
 $palette-facebook:      #3B5999;
 $palette-twitter:       #55ACEE;
 $palette-line:          #00C300;
 $palette-youtube:       #CD201F;
 $palette-github:        #171515;
 $palette-pinterest:     #CC2127;

